html {
    font-family: Verdana;
    font-size: 10pt;
    color: #000;
}
body {
    font-family: Verdana;
    font-size: 8pt;
    color: #000;
}
h1 {
    font-size: 12pt;
    font-weight: bold;
}
div.header {
    text-align: center;
}
div.members {
    text-align: center;
}
div.error {
    color:red;
    text-align: center;
}
div.outerContainer {
    text-align: center;
    padding-top: 20px;
}
div.sectionOuter {
    width: 500px;
    margin-left: auto;
    margin-right:auto;
}
div.sectionBorder {
    text-align: center;
    border-left: 1px dashed #ddd;
    border-right: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    background-color: #fefefe;
}
div.help {
    padding-left: 50px;
}
div.administration {
}
div.captchaOuter {
    height: 50px;
}
div.captchaLeft {
    float:left;
    clear:right;
    text-align: right;
    width: 50%;
}
div.captchaRight {
    line-height: 50px;
    float:right;
    width: 50%;
}
div.sendmessage {
}
div.usermessage {
}
div.footer {
    text-align: center;
    font-size: 8pt;
}
input {
    border: 1px solid #ccc;
}
textarea {
    border: 1px solid #ccc;
}
.biggerLine {
    line-height: 20pt;
    padding: 10px;
}
.borderBox {
    border: 1px red dashed;
    padding: 10px 10px 10px 35px;
    background: #ccc url(images/info.png) 5px no-repeat;
    width: 500px;
}
.highlight {
    color: orange;
}

.ui-accordion-header a {
    background-color: orange;
    font-weight: bold;
}
.ui-accordion .ui-accordion-content {
    margin-bottom: 0;
    margin-top: -1px;
    top: 0px;
}
.ui-widget-content {
    background: inherit;
}
